:root{
  --app-container: #f3f6fd;
  --glowing-color: #dadde3;
  --glowing-color-2: #c2c4ca;
  --border-color: #c2c4ca;



  /*palette - Costa Crociere Yellow 2015*/
  --main-color:#fcc302;
  --second-color:#fccf34;
  --third-color:#ffdb34;
  --fifth-color: #ffed99;
  --sidebar:  #ffefaf;
  --shadow-secondary:  #e9e5ee;
  --app-background:  #f4f2f6;
  --red: #FF0000;
  --dark-red: #e60000;

  --btn-color: #fcc91b;
  --btn-over: #fddb67;
  --btn-disabled :#ffefaf;

  --font-style: 'Source Code Pro', monospace;

  

}

  
  /*body*/
  * {
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    background: var(--app-container) !important;
  }
