.table-wrap{
        overflow:hidden;
        overflow-y: scroll;
        height: 500px;
}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th, td span {
    color: black;
    text-align: center;
}
tbody tr:hover {background-color: coral;}

.date{
    display: flex;
    flex-direction: column;
}

.open{
    font-size: 13px;
    color: grey;
}

.not-found{
  border: 3px solid  var(--sidebar);
  background-color: var(--shadow-color);
}

.not-found-label{
  position: relative;
  left: 34%;
}

@media only screen and (max-device-width: 1000px) {
  thead, tfoot {
    display: none;
  }
  table {
    background: none !important;
    border: none !important;
  }
  tr {
    display: inline-block;
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin: 1.5rem;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    word-break: break-all;
  }
  td{
    display: block;
  }
  th, td span {
    color: black;
    text-align: end;
  }
}