.button {
      border: 0;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0;
      text-transform: capitalize;
      white-space: nowrap;
      color: #fff;
      background: var(--btn-color);
      border-radius: 25px;
      line-height: 46px;
      padding: 0 40px;
  }
  
  .button:hover,
  .button:active {
    background: #6f6c6c;
    border-color:  #6f6c6c;
  }
  
  .button:focus {
    outline: none;
  }
  
  button:disabled,
  button:focus:disabled,
  button:hover:disabled,
  button:active:disabled {
    background: #6f6c6c;
    border-color: #6f6c6c;
    color: white;
    cursor: not-allowed;
  }
  