.button {
      border: 0;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0;
      text-transform: capitalize;
      white-space: nowrap;
      color: black;
      background: var(--btn-color);
      border-radius: 25px;
      line-height: 46px;
      padding: 0 40px;
  }
  
  .button:hover,
  .button:active {
    background: var(--btn-over);
    border-color:  var(--btn-over);
  }
  
  .button:focus {
    outline: none;
  }
  
  button:disabled,
  button:focus:disabled,
  button:hover:disabled,
  button:active:disabled {
    background:var(--btn-disabled);
    border-color: var(--btn-disabled);
    color: black;
    cursor: not-allowed;
  }
  